<form #windowPriceCalculation="ngForm" (ngSubmit)="addToTotal(windowPriceCalculation)" class="pt-5">
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-fluid" [src]="createImgPath(window.imgPath)" alt="window image">
        </div>
        <div class="row col-md-8">
            <div class="row text-center">
                <h2>{{window.windowType}}</h2>
            </div>

            <div class="row row-cols-3 d-flex justify-content-around">
                <div class="col-5">
                    <span class="text-start">
                        <p>Regular cleaning</p>
                    </span>
                </div>
                <div class="col-1">
                    <span class="text-center">{{window.regularPrice | currency}}</span>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <span type="button" (click)="minusOneR(window.regularPriceQuantity)" class="text-start"><i class="material-icons">remove_circle</i></span>
                    <span class="text-center">
                        <input type="number" disabled class="text-center" style="width: 45px;" 
                            name="rpq" [(ngModel)]="window.regularPriceQuantity" #rpq="ngModel" />
                    </span>
                    <span type="button" (click)="plusOneR()" class="text-end"><i class="material-icons">add_circle</i></span>
                </div>
            </div>

            <div class="row row-cols-3 d-flex justify-content-around">
                <div class="col-5">
                    <span class="text-start">
                        <p>Chemical cleaning</p>
                    </span>
                </div>
                <div class="col-1">
                    <span class="text-center">{{window.chemicalPrice | currency}}</span>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <span type="button" (click)="minusOneC(window.chemicalPriceQuantity)" class="text-start"><i class="material-icons">remove_circle</i></span>
                    <span class="text-center">
                        <input class="text-center" disabled style="width: 45px;" 
                        name="cpq" [(ngModel)]="window.chemicalPriceQuantity" #cpq="ngModel" /></span>
                    <span type="button" (click)="plusOneC()" class="text-end"><i class="material-icons">add_circle</i></span>
                </div>
            </div>

            <div class="row row-cols-3 d-flex justify-content-around">
                <div class="col-5">
                    <span class="text-start">
                        <p>Post-Construction</p>
                    </span>
                </div>
                <div class="col-1">
                    <span class="text-center">{{window.postConstructionPrice | currency}}</span>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <span type="button" (click)="minusOneP(window.postConstructionPriceQuantity)" class="text-start"><i class="material-icons">remove_circle</i></span>
                    <span class="text-center">
                        <input class="text-center" disabled style="width: 45px;"
                        name="ppq" [(ngModel)]="window.postConstructionPriceQuantity" #ppq="ngModel" /></span>
                    <span type="button" (click)="plusOneP()" class="text-end"><i class="material-icons">add_circle</i></span>
                </div>
            </div>
        </div>
        <div class="p-4  d-flex justify-content-center">
            <div class="col-9 pe-4" style="color: rgb(122, 117, 117); font-size: 13px;">* All the prices are based on standard sized windows. The price may be subject to change.</div>
            <div class="col-3">
                <div>
                    <button type="submit" class="btn btn-success" style="width: 100%; ">Add</button>
                </div>
                <div class="pt-2">
                    <button *ngIf="isUserAuthenticated" type="button" class="btn btn-primary" style="width: 100%;"
                    [routerLink]="['/window', 'edit', window.id]">Edit</button>
                </div>
                
                
            </div>
        </div>
        
        
    </div>
</form>

