<form #windowPriceCalculation="ngForm" (ngSubmit)="addToTotal(windowPriceCalculation)">
    <div class="row">
        <div class="col-md-4 text-center">
            <img [src]="createImgPath(window.imgPath)" alt="window image">
        </div>
        <div class="row col-md-8">
            <div class="row col text-center">
                <h2>{{window.windowType}}</h2>
            </div>

            <div class="row row-cols-3 d-flex justify-content-around">
                <div class="col-5">
                    <span class="text-start">
                        <p>Regular cleaning</p>
                    </span>
                </div>
                <div class="col-1">
                    <span class="text-center">{{window.regularPrice | currency}}</span>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <span type="button" (click)="minusOneR(window.regularPriceQuantity)" class="text-start"><i class="material-icons">remove_circle</i></span>
                    <span class="text-center">
                        <input type="number" class="text-center" style="width: 45px;" 
                            name="rpq" [(ngModel)]="window.regularPriceQuantity" #rpq="ngModel" />
                    </span>
                    <span type="button" (click)="plusOneR()" class="text-end"><i class="material-icons">add_circle</i></span>
                </div>
            </div>

            <div class="row row-cols-3 d-flex justify-content-around">
                <div class="col-5">
                    <span class="text-start">
                        <p>Chemical cleaning</p>
                    </span>
                </div>
                <div class="col-1">
                    <span class="text-center">{{window.chemicalPrice | currency}}</span>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <span type="button" (click)="minusOneC(window.chemicalPriceQuantity)" class="text-start"><i class="material-icons">remove_circle</i></span>
                    <span class="text-center"><input class="text-center" style="width: 45px;" 
                        name="cpq" [(ngModel)]="window.chemicalPriceQuantity" #cpq="ngModel" /></span>
                    <span type="button" (click)="plusOneC()" class="text-end"><i class="material-icons">add_circle</i></span>
                </div>
            </div>

            <div class="row row-cols-3 d-flex justify-content-around">
                <div class="col-5">
                    <span class="text-start">
                        <p>Post-Construction</p>
                    </span>
                </div>
                <div class="col-1">
                    <span class="text-center">{{window.postConstructionPrice | currency}}</span>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <span type="button" (click)="minusOneP(window.postConstructionPriceQuantity)" class="text-start"><i class="material-icons">remove_circle</i></span>
                    <span class="text-center"><input class="text-center" style="width: 45px;"
                        name="ppq" [(ngModel)]="window.postConstructionPriceQuantity" #ppq="ngModel" /></span>
                    <span type="button" (click)="plusOneP()" class="text-end"><i class="material-icons">add_circle</i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row col pt-3 d-flex justify-content-around">
        <button type="submit" class="btn btn-primary" style="width: 100px; ">Add</button>
        <button type="button" class="btn btn-success" style="width: 100px;"
            [routerLink]="['/window', 'edit', window.id]">Edit</button>
    </div>
</form>

