<div class="container">
    <h1>Edit Window Type</h1>
        <form #form="ngForm" *ngIf="windowDetails" (ngSubmit)="updateWindow()">
            <div class="mb-3">
                <label for="id" class="form-label">Id</label>
                <input type="number" class="form-control" disabled id="id" name="id" [(ngModel)]="windowDetails.id">
              </div>
            <div class="mb-3">
              <label for="windowType" class="form-label">Window Type</label>
              <input type="text" class="form-control" id="windowType" name="windowType" [(ngModel)]="windowDetails.windowType">
            </div>
            <div class="mb-3">
                <label for="orderNumber" class="form-label">Order Number</label>
                <input type="number" class="form-control" id="orderNumber" name="orderNumber" [(ngModel)]="windowDetails.orderNumber">
              </div>
            <div class="mb-3">
                <label for="regularPrice" class="form-label">Regular Price</label>
                <input type="number" class="form-control" id="regularPrice" name="regularPrice" [(ngModel)]="windowDetails.regularPrice">
            </div>
              <div class="mb-3">
                <label for="chemicalPrice" class="form-label">Chemical Price</label>
                <input type="number" class="form-control" id="chemicalPrice" name="chemicalPrice" [(ngModel)]="windowDetails.chemicalPrice">
            </div>
              <div class="mb-3">
                <label for="postConstructionPrice" class="form-label">Post-Construction Price</label>
                <input type="number" class="form-control" id="postConstructionPrice" name="postConstructionPrice" [(ngModel)]="windowDetails.postConstructionPrice">
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-danger" (click)="deleteWindow(windowDetails.id)">Delete</button>
        </form>
</div>